/* style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #fff; /* Beyaz arka plan */
    color: #000; /* Siyah metin rengi */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center; /* Tabloyu ortala */
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 12px;
    color: #000; /* Siyah metin rengi */
}

th {
    background-color: #f2f2f2;
}

.actions {
    display: flex;
    justify-content: center; /* Actions kısmını ortala */
    margin-top: 15px;
}

.actions .button {
    padding: 8px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    color: #fff;
    border-radius: 3px;
    text-decoration: none !important;
}

.actions .edit-button {
    background-color: #3498db; /* Mavi edit butonu */
}

.actions .delete-button {
    background-color: #e74c3c; /* Kırmızı delete butonu */
}

.actions .complete-button {
    background-color: #4caf50; /* Yeşil complete butonu */
}

.actions .uncomplete-button {
    background-color: #f44336; /* Kırmızı uncomplete butonu */
}

.actions .button.completed {
    text-decoration: none !important;
}

.actions a {
    text-decoration: none;
    color: #3498db;
    cursor: pointer;
    transition: color 0.3s;
}

.actions a:hover {
    color: #2074a0;
}

h1 {
    color: #3498db;
    text-align: center;
}

.logo-container {
    text-align: center; /* Logo konteynerini ortala */
    margin-top: 20px; /* İstenilen boşluk kadar üst boşluk bırak */
}

.logo {
    display: inline-block; /* Resmi diğer içeriklerle aynı hizada tutmak için */
}

form {
    margin-top: 20px;
    text-align: center; /* Form alanlarını ortala */
}
